DentistBookingSystem/.vs/
DentistBookingSystem/DentistBookingSystem/obj/
DentistBookingSystem/DentistBookingSystem/bin/
DentistBookingSystem/DentistBookingSystem.ApplicationServices/obj/
DentistBookingSystem/DentistBookingSystem.ApplicationServices/bin/
DentistBookingSystem/DentistBookingSystem.DataAccess/obj/
DentistBookingSystem/DentistBookingSystem.DataAccess/bin/
DentistBookingSystem/BlazorApp-main/obj/
DentistBookingSystem/BlazorApp-main/bin/
DentistBookingSystem/DentistBookingSystem.Tests/obj/
DentistBookingSystem/DentistBookingSystem.Tests/bin/