DentistBookingSystem/.vs/
DentistBookingSystem/DentistBookingSystem/obj/
DentistBookingSystem/DentistBookingSystem/bin/
DentistBookingSystem/DentistBookingSystem.ApplicationServices/obj/
DentistBookingSystem/DentistBookingSystem.ApplicationServices/bin/
DentistBookingSystem/DentistBookingSystem.DataAccess/obj/
DentistBookingSystem/DentistBookingSystem.DataAccess/bin/
